#r1:hover{
    border-radius: 140px;
}

#r2:hover{
    border-radius: 140px;
}

#r3:hover{
    border-radius: 140px;
}

#r1{
    box-shadow: 0 6px 8px 05 rgba(2,2,2,0.2);
}

#r2{
    box-shadow: 0 6px 8px 05 rgba(2,2,2,0.2);
}

#r3{
    box-shadow: 0 6px 8px 05 rgba(2,2,2,0.2);
}

#h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:oblique;
    font-weight: 400;

}

#body{
    background-color: gray;
}